.top-bar {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.logo {
  font-size: 18px;
  margin-left: 10px;
}

.chat-layout {
  display: flex;
  height: calc(100%); // minus top bar
  overflow: hidden;

  &.sidebar-open .chat-sidebar {
    display: block;
  }
}

.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5vh;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;

  .message {
    margin-bottom: 10px;
  }
}

app-chat-history {
  width: 300px;
  max-width: 300px;
  overflow-y: auto;
  background: #1f1f1f;
  border-right: 1px solid #ddd;
  padding: 10px;
}


.chat-input {
  display: flex;
  gap: 8px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.message-row {
  display: flex;
  margin: 8px 0;
}

.from-user {
  justify-content: flex-end;

  .chat-bubble {
    background-color: #007aff;
    color: white;
    border-radius: 16px 16px 0 16px;
    padding: 12px 16px;
  }
}

.from-ai {
  justify-content: flex-start;

  .chat-bubble {
    background-color: #e0e0e0;
    color: #000;
    border-radius: 16px 16px 16px 0;
    padding: 12px 16px;
  }
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 4px;
  margin-left: 12px;
}
