<app-custom-header></app-custom-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let msg of messages">
      <ion-label [color]="msg.from === 'user' ? 'primary' : 'medium'" class="chat-bubble">
        <b *ngIf="msg.from === 'user'">You:</b>
        <b *ngIf="msg.from === 'ai'">AI:</b>
        <p>{{ msg.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="userInput" placeholder="Type your message..."></ion-input>
    <ion-button expand="block" (click)="sendMessage()">Send</ion-button>
  </ion-toolbar>
</ion-footer>
